---
http_interactions:
- request:
    method: post
    uri: https://accounts.google.com/o/oauth2/token
    body:
      encoding: US-ASCII
      string: client_id=<YOUTUBE_CLIENT_ID>&client_secret=<YOUTUBE_CLIENT_SECRET>&refresh_token=<YOUTUBE_REFRESH_TOKEN>&grant_type=refresh_token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "<YOUTUBE_ACCESS_TOKEN>",
          "expires_in": 3599,
          "scope": "https://www.googleapis.com/auth/userinfo.profile https://www.googleapis.com/auth/youtube",
          "token_type": "Bearer",
          "id_token": "<YOUTUBE_ID_TOKEN>"
        }
  recorded_at: Wed, 22 Oct 2025 03:16:00 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?maxResults=50&mine=true&part=snippet,status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <YOUTUBE_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#channelListResponse",
          "etag": "bZqgxMMqp-o6kh8yj3HCiZ_oq-k",
          "pageInfo": {
            "totalResults": 1,
            "resultsPerPage": 50
          },
          "items": [
            {
              "kind": "youtube#channel",
              "etag": "8YHrxVJrV3lC8s-dqCJbTJskV_M",
              "id": "UCzFmywjEti1C95vS3A8MOFg",
              "snippet": {
                "title": "pca2",
                "description": "",
                "customUrl": "@pca2",
                "publishedAt": "2009-12-09T02:38:19Z",
                "thumbnails": {
                  "default": {
                    "url": "https://yt3.ggpht.com/ytc/AIdro_nDqhbIyIWAyptFqRBwVKo6rIlCzFIeDw6eepXtVwS-SYedeW9eMKnjq4SvpfWdiA7_jw=s88-c-k-c0x00ffffff-no-rj",
                    "width": 88,
                    "height": 88
                  },
                  "medium": {
                    "url": "https://yt3.ggpht.com/ytc/AIdro_nDqhbIyIWAyptFqRBwVKo6rIlCzFIeDw6eepXtVwS-SYedeW9eMKnjq4SvpfWdiA7_jw=s240-c-k-c0x00ffffff-no-rj",
                    "width": 240,
                    "height": 240
                  },
                  "high": {
                    "url": "https://yt3.ggpht.com/ytc/AIdro_nDqhbIyIWAyptFqRBwVKo6rIlCzFIeDw6eepXtVwS-SYedeW9eMKnjq4SvpfWdiA7_jw=s800-c-k-c0x00ffffff-no-rj",
                    "width": 800,
                    "height": 800
                  }
                },
                "localized": {
                  "title": "pca2",
                  "description": ""
                }
              },
              "status": {
                "privacyStatus": "public",
                "isLinked": true,
                "longUploadsStatus": "allowed",
                "isChannelMonetizationEnabled": false
              }
            }
          ]
        }
  recorded_at: Wed, 22 Oct 2025 03:16:00 GMT
- request:
    method: post
    uri: https://www.googleapis.com/youtube/v3/playlists?part=snippet
    body:
      encoding: UTF-8
      string: '{"snippet":{"title":"test_1761102960"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <YOUTUBE_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#playlist",
          "etag": "WD5zyy4SES2T2l4mIsFVR2-t1qM",
          "id": "PLZOdGIexY9DHrHjJ_obGs5sd0mFbYMBK_",
          "snippet": {
            "publishedAt": "2025-10-22T03:16:01Z",
            "channelId": "UCzFmywjEti1C95vS3A8MOFg",
            "title": "test_1761102960",
            "description": "",
            "thumbnails": {
              "default": {
                "url": "https://i.ytimg.com/img/no_thumbnail.jpg",
                "width": 120,
                "height": 90
              },
              "medium": {
                "url": "https://i.ytimg.com/img/no_thumbnail.jpg",
                "width": 320,
                "height": 180
              },
              "high": {
                "url": "https://i.ytimg.com/img/no_thumbnail.jpg",
                "width": 480,
                "height": 360
              }
            },
            "channelTitle": "pca2",
            "localized": {
              "title": "test_1761102960",
              "description": ""
            }
          }
        }
  recorded_at: Wed, 22 Oct 2025 03:16:01 GMT
- request:
    method: post
    uri: https://www.googleapis.com/youtube/v3/playlistItems?part=snippet
    body:
      encoding: UTF-8
      string: '{"snippet":{"playlistId":"PLZOdGIexY9DHrHjJ_obGs5sd0mFbYMBK_","resourceId":{"kind":"youtube#video","videoId":"VoVpDMaMeyM"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <YOUTUBE_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#playlistItem",
          "etag": "tV313XxDDqI-W3araGNZPwa-EB0",
          "id": "UExaT2RHSWV4WTlESHJIakpfb2JHczVzZDBtRmJZTUJLXy41NkI0NEY2RDEwNTU3Q0M2",
          "snippet": {
            "publishedAt": "2025-10-22T03:16:02Z",
            "channelId": "UCzFmywjEti1C95vS3A8MOFg",
            "title": "sample",
            "description": "",
            "thumbnails": {
              "default": {
                "url": "https://i9.ytimg.com/vi/VoVpDMaMeyM/default.jpg?sqp=CLSY4ccG&rs=AOn4CLB2WTJPf_y9GwYIenaQTkmbHQ0IYw",
                "width": 120,
                "height": 90
              },
              "medium": {
                "url": "https://i9.ytimg.com/vi/VoVpDMaMeyM/mqdefault.jpg?sqp=CLSY4ccG&rs=AOn4CLBieG1MVABVuxWVJ5TfYwue_759Tw",
                "width": 320,
                "height": 180
              },
              "high": {
                "url": "https://i9.ytimg.com/vi/VoVpDMaMeyM/hqdefault.jpg?sqp=CLSY4ccG&rs=AOn4CLBhEdBbBX_JuyHXOrHaIr6qmMN4Cw",
                "width": 480,
                "height": 360
              },
              "standard": {
                "url": "https://i9.ytimg.com/vi/VoVpDMaMeyM/sddefault.jpg?sqp=CLSY4ccG&rs=AOn4CLBfaMqi4-MMipNJzJM4erB-FO0x2A",
                "width": 640,
                "height": 480
              }
            },
            "channelTitle": "pca2",
            "playlistId": "PLZOdGIexY9DHrHjJ_obGs5sd0mFbYMBK_",
            "position": 0,
            "resourceId": {
              "kind": "youtube#video",
              "videoId": "VoVpDMaMeyM"
            },
            "videoOwnerChannelTitle": "pca2",
            "videoOwnerChannelId": "UCzFmywjEti1C95vS3A8MOFg"
          }
        }
  recorded_at: Wed, 22 Oct 2025 03:16:02 GMT
- request:
    method: delete
    uri: https://www.googleapis.com/youtube/v3/playlists?id=PLZOdGIexY9DHrHjJ_obGs5sd0mFbYMBK_
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <YOUTUBE_ACCESS_TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 22 Oct 2025 03:16:02 GMT
recorded_with: VCR 6.3.1
