---
http_interactions:
- request:
    method: post
    uri: https://accounts.google.com/o/oauth2/token
    body:
      encoding: US-ASCII
      string: client_id=<YOUTUBE_CLIENT_ID>&client_secret=<YOUTUBE_CLIENT_SECRET>&refresh_token=<YOUTUBE_REFRESH_TOKEN>&grant_type=refresh_token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "<YOUTUBE_ACCESS_TOKEN>",
          "expires_in": 3599,
          "scope": "https://www.googleapis.com/auth/userinfo.profile https://www.googleapis.com/auth/youtube",
          "token_type": "Bearer",
          "id_token": "<YOUTUBE_ID_TOKEN>"
        }
  recorded_at: Wed, 22 Oct 2025 03:16:03 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/channels?maxResults=50&mine=true&part=snippet,status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <YOUTUBE_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#channelListResponse",
          "etag": "bZqgxMMqp-o6kh8yj3HCiZ_oq-k",
          "pageInfo": {
            "totalResults": 1,
            "resultsPerPage": 50
          },
          "items": [
            {
              "kind": "youtube#channel",
              "etag": "8YHrxVJrV3lC8s-dqCJbTJskV_M",
              "id": "UCzFmywjEti1C95vS3A8MOFg",
              "snippet": {
                "title": "pca2",
                "description": "",
                "customUrl": "@pca2",
                "publishedAt": "2009-12-09T02:38:19Z",
                "thumbnails": {
                  "default": {
                    "url": "https://yt3.ggpht.com/ytc/AIdro_nDqhbIyIWAyptFqRBwVKo6rIlCzFIeDw6eepXtVwS-SYedeW9eMKnjq4SvpfWdiA7_jw=s88-c-k-c0x00ffffff-no-rj",
                    "width": 88,
                    "height": 88
                  },
                  "medium": {
                    "url": "https://yt3.ggpht.com/ytc/AIdro_nDqhbIyIWAyptFqRBwVKo6rIlCzFIeDw6eepXtVwS-SYedeW9eMKnjq4SvpfWdiA7_jw=s240-c-k-c0x00ffffff-no-rj",
                    "width": 240,
                    "height": 240
                  },
                  "high": {
                    "url": "https://yt3.ggpht.com/ytc/AIdro_nDqhbIyIWAyptFqRBwVKo6rIlCzFIeDw6eepXtVwS-SYedeW9eMKnjq4SvpfWdiA7_jw=s800-c-k-c0x00ffffff-no-rj",
                    "width": 800,
                    "height": 800
                  }
                },
                "localized": {
                  "title": "pca2",
                  "description": ""
                }
              },
              "status": {
                "privacyStatus": "public",
                "isLinked": true,
                "longUploadsStatus": "allowed",
                "isChannelMonetizationEnabled": false
              }
            }
          ]
        }
  recorded_at: Wed, 22 Oct 2025 03:16:03 GMT
- request:
    method: post
    uri: https://www.googleapis.com/youtube/v3/playlists?part=snippet
    body:
      encoding: UTF-8
      string: '{"snippet":{"title":"test_1761102962"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <YOUTUBE_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#playlist",
          "etag": "q2LK1A4XXPFLQlGK0_4PE6XnjXc",
          "id": "PLZOdGIexY9DEBK4H6xZBBVIsYevz5OZNX",
          "snippet": {
            "publishedAt": "2025-10-22T03:16:03Z",
            "channelId": "UCzFmywjEti1C95vS3A8MOFg",
            "title": "test_1761102962",
            "description": "",
            "thumbnails": {
              "default": {
                "url": "https://i.ytimg.com/img/no_thumbnail.jpg",
                "width": 120,
                "height": 90
              },
              "medium": {
                "url": "https://i.ytimg.com/img/no_thumbnail.jpg",
                "width": 320,
                "height": 180
              },
              "high": {
                "url": "https://i.ytimg.com/img/no_thumbnail.jpg",
                "width": 480,
                "height": 360
              }
            },
            "channelTitle": "pca2",
            "localized": {
              "title": "test_1761102962",
              "description": ""
            }
          }
        }
  recorded_at: Wed, 22 Oct 2025 03:16:03 GMT
- request:
    method: post
    uri: https://www.googleapis.com/youtube/v3/playlistItems?part=snippet
    body:
      encoding: UTF-8
      string: '{"snippet":{"playlistId":"PLZOdGIexY9DEBK4H6xZBBVIsYevz5OZNX","resourceId":{"kind":"youtube#video","videoId":"LAXr5Cq-0-0"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <YOUTUBE_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "youtube#playlistItem",
          "etag": "9fsJmZOJjDJqBVDpvDClfbQGKcg",
          "id": "UExaT2RHSWV4WTlERUJLNEg2eFpCQlZJc1lldno1T1pOWC41NkI0NEY2RDEwNTU3Q0M2[...]
[...]
- request:
    method: put
    uri: https://www.googleapis.com/youtube/v3/playlistItems?part=snippet
    body:
      encoding: UTF-8
      string: '{"snippet":{"position":0,"playlistId":"PLZOdGIexY9DEBK4H6xZBBVIsYevz5OZNX","resourceId":{"kind":"youtube#video","videoId":"LAXr5Cq-0-0"}},"id":"UExaT2RHSWV4WTlERUJLNEg2eFpCQlZJc1lldno1T1pOWC41NkI0NEY2RDEwNTU3Q0M2"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <YOUTUBE_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
 [...]
[...]
- request:
    method: delete
    uri: https://www.googleapis.com/youtube/v3/playlists?id=PLZOdGIexY9DEBK4H6xZBBVIsYevz5OZNX
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <YOUTUBE_ACCESS_TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 22 Oct 2025 03:16:06 GMT
recorded_with: VCR 6.3.1
